.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #82b808;
    /*brand color*/
    height: $headerHeight;

    &.drawer-open {
        position: static;
    }

    &__navigation {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 1rem;
        margin: auto;
        max-width: 1024px;
    }

    &__logo{
        a {
            color: white;
            text-decoration: none;
            font-size: 36px;
        }
    }

    .spacer {
        flex: 1;
    }

    &_navigation-items {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        li {
            padding: 0 0.5rem;
        }

        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;

            &:hover,
            &:active {
                color: #fa923f;
            }
        }
    }

    .backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 100;
    }

    .toggle-button {
        height: 24px;
        width: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        box-sizing: border-box;
        margin-right: 8px;
        color: white;
        line-height: 24px;

        &:before {
            content: '\2630';
            font-size: 24px;
        }
    }
}

.main-content {
    margin-top: $headerHeight;
    padding-top: 8px;
    overflow-x: hidden;
    margin-bottom: 80px;
}

@media (max-width: 767px) {
    .toolbar_navigation-items {
        display: none;
    }
}

@media (min-width: 768px) {
    .toggle-button {
        display: none;
    }

    .backdrop {
        display: none;
    }
}

